/* On all Pages */

body{
    background-color:rgb(209, 209, 209);
}

#pagetitle{
    margin-top: 50px;
    text-align: center;
    color:#500000;
    font-family: 'Staatliches', cursive;
    font-style:bold;
    font-size: 100px;
}

.foot > p{
    font-family: 'Staatliches', cursive;
    font-style:bold;
    font-size: 18px;
}
.foot{
    padding-top: 20px;
    padding-left: 20px;
    background-color: gray;
    height: 150px;
}
    /* Top Button Styling and Grid*/
button{
    background-color: rgba(80,0,0,0.6) !important;
    width:18.5%;
    height: 100%;
    color: rgb(192, 196, 192);
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    border-radius: 10px;
}

.headerbtns{
    display: inline-block;
    height:100px;
    width: 100%;
    vertical-align: top;
}

.navwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

    /*  */

    /* centers items */

.center{
    margin-top: -10px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
 }

    /*  */

    /* Sections headers for all pages */

.sectionhead{
    text-align: center; 
    color:#500000;
    font-family: 'Staatliches', cursive;
    font-style:bold;
    font-size: 50px;
}
    /*  */

/* ****************** */

/* Index */

    /* Creates the outer grid (Holds the picture and basic info grids) */

.basicinfo{
    display: grid;
    grid-template-columns: auto 60%;

}
    /*  */

    /* Creates the Picture grid */

.basicitem1{
    display:grid;
    grid-template-rows: 33% 33% 33%;
    row-gap: 10px;

}

    /*  */

    /* Styles the images in the picture grid*/

    .basicitem1 > img{
        display:block;
        max-height: 90%;
        width: 85%;
        margin-left:10px;
        margin-bottom: 10px;
    
    }

    /*  */

    /* Creates the basic information grid */

.basicitem2{
    display:grid;
    grid-template-columns: 30% 150px;
    column-gap: 20px;
    grid-template-rows: max-content;
    margin-top:-10px;
    margin-left: 10px;
    background-color: rgba(80, 0, 0, 0.4);
    border-radius: 10px;
    
}

    /*  */


    /* Styles the basic info grid */

.basictable{
    max-width: 70%;
}
.basictable1 > p{

    font-family: 'Staatliches', cursive;
    font-size: 22px;

}

.basictable1 > h1{
    font-size: 20px;
    margin-left:10px;
    font-family: 'Staatliches', cursive;
}

    /*  */

    /* Logo grid */

.logocontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 510px 510px;
    row-gap: 1%;

}

.logoitem > img{
    display: block;
    max-width: 90%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.logoitem > p{
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    text-align: center;
    display: block;
}

    /*  */

    /* Pictures that accompany the timeline */

figure{
    display: inline-block;
    margin: 20px;
    float:right;
}
figure img {
    vertical-align: top;
    display: block;
    margin: auto;
    max-width:100%;
    max-height: 90%;
}
figure figcaption {

    text-align: center;
    font-family: Staatliches, cursive;
    font-size: 18px;
}

    /*  */

    /* Timeline */

.timeline {
    margin: 0 auto;
    max-width: 950px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: black;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    background: rgba(80, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #ffffff;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
  }

  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }


  .outertlgrid{
      display: grid;
      grid-template-columns: 2.2fr 1fr;
  }

  .tlimg{
      display:grid;
      grid-template-rows: 600px 650px 250px 350px 1550px 530px 350px 400px 700px 950px 1200px 350px 350px 250px;
  }
  /*  */


/* kyle field page */

  /* Creates a grid for the Kyle Field info table */

.kyleinfotable{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 50px 50px 50px 50px;
    background-color: rgb(168,168,168);
}

    /*  */

    /* Styles the elements in the table */

.item2 > p{
   margin-left: 10px;
   font-family: 'Staatliches', cursive;
   font-size: 18px;
}
.item2 > h1{
    font-size: 20px;
    margin-left:10px;
    font-family: 'Staatliches', cursive;
}

    /*  */

    /* Styles the header of the info table */
.tableheader{
    margin-left: 70%;
    font-family: 'Staatliches', cursive;
}

    /* Items in the images and paras grid*/

.item1 > img{
    display: block;
    width: 90%;
    margin-left: 10px
}
    /*  */
    
    /* Creates an outer grid that holds the info table and the images/paras */

.kylecontentwrap{
    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
}
    /*  */

    /* Creates a grid for the paragraphs and the images */

.kyleinfo{
    display:grid;
    grid-template-rows: 150px 150px;
}
    /*  */

.item1 > p{
    font-family: 'Staatliches', cursive;
}

/* ************** */



/* Stats and Records */

    /* Creates a form so that user can submit input, which the cfb API will use to output appropriate data */

.form > p{
   font-family: 'Staatliches', cursive;
   font-size: 18px;
}

.form{
    margin-bottom: 10px;
}

    /*  */

/* ******** */

/* Stats and Records + Players and Coaches */

        /* Styles the headers in the collapsibles  */

.content > h3{
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

    /*  */

    /* Creates the Collapsibles used on both pages listed */

.collapsible{
    background-color: rgb(80,0,0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:none;
    text-align: left;
    outline: none;
    font-size: 30px;
    margin-bottom: 10px;
}

.mainLoginInput::placeholder { 
    font-family: 'Staatliches', cursive;
    font-size: 18px;
  }



.active, .collapsible:hover{
    background-color: (120,0,0);
}

.content{
    padding:0 18px;
    display: none;
    overflow:hidden;
    background-color: rgb(168,168,168);
}

input[type=submit]{
    font-family: 'Staatliches', cursive;
    font-size:18px;
}

input[type=text]{
    height:22px;
    margin-bottom: 3px;
    margin-top:3px;
}
.collapsible{
    margin-top: 0px;
}

    /*  */

/* *********** */

/* Players and Coaches */

    /* Creates and styles the grids in each collapsible */

.pcgrid{
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 300px;
    margin-bottom: 30px;

}

.pcitem > img{
    height:100%;
}

    /*  */

/* *************** */
  

